<h1>Flights search</h1>
<%= form_for :flight, url: "/flights", method: :get, html: {class: "form-inline"} do |f| %>
  <%= select_tag(:from_code, options_for_select(@airports, params[:from_code]), class: "custom-select") %>
  <%= select_tag(:to_code, options_for_select(@airports, params[:to_code]), class: "custom-select") %>
  <%= select_tag(:date, options_for_select(@date_options, params[:date]), class: "custom-select") %>
  <%= select_tag(:num_tickets, options_for_select(@ticket_options, params[:num_tickets]), class: "custom-select") %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<% unless @flights.nil? || @flights.empty? %>
  <%= render "flights/search_result" %>
<% end %>