<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>
<%= form_for :flight, url: "/flights", method: :get do |f| %>
  <%= select_tag "from_code", options_from_collection_for_select(Airport.all, :code, :code) %>
  <%= select_tag "to_code", options_from_collection_for_select(Airport.all, :code, :code) %>
  <%= select_tag "date", options_from_collection_for_select(Flight.all, :formatted_date, :formatted2_date) %>
  <%= f.submit "Search" %>
<% end %>
