<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>
<%= form_for :flight, url: "/flights", method: :get do |f| %>
  <%= collection_select(nil, :from_code, Airport.all, :code, :code) %>
  <%= collection_select(nil, :to_code, Airport.all, :code, :code) %>
  <%= select(nil, :date, @date_options )%>
  <%= f.submit "Search" %>
<% end %>
<% unless @flights.nil? %>
  <% @flights.each do |flight| %>
    <p><%= flight.date %>. From: <%= @origin.name %>, To: <%= @destination.name %></p>
  <% end %>
<% end %>