<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>
    <div class="container">
      <%= form_for @booking do |booking_form| %>
        <div class="row">
            <% count = 0 %>
            <%= booking_form.fields_for :passengers do |passenger_form| %>
          <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <%= passenger_form.hidden_field :id %>
                <%= passenger_form.label :name, "Passenger #{count = count + 1}:", class: "" %>
                <div class="">
                  <%= passenger_form.text_field :name, class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= passenger_form.label :email, "Email:", class: "" %>
                <div class="">
                  <%= passenger_form.email_field :email, class: "form-control" %>
                </div>
              </div>
          </div>

          <% end %>
        </div>
        <%= booking_form.hidden_field :flight_id %>
        <%= booking_form.submit "Save info", class: "btn btn-primary" %>
      <% end %>
    </div>
